/* Universal Selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Type Selector */
p{
    font-size: 20px;
    margin: 10px 20px 15px 20px;
    padding: 2px 2px;
}

/* Class Selector */
.highlight{
    background-color: #aef222;
}

/* ID Selector */
#header{
    font-style: italic;
    font-size: larger;
}

/* Attribute Selector */
input[type="text"]{
    border: 2px solid black;
}

/* Descendant  Selector */
article p{
    font-size: larger;
    background-color: darkblue ;
    color: aliceblue;
}

/* Child Selector */
div > p{
    background-color: tomato;
    color: aliceblue;
}

/* Adjacent Sibling Selector */
h2 + p{
    color: cadetblue;
}

/* General Sibling Selector */
h2 ~ p{
    background-color: blanchedalmond;
}

/* Pseudo-class Selector */
a:hover{
    background-color: aqua;
    margin: 2px;
}

/* Pseudo-element Selector */
p::first-letter{
    font-size: 30px;
    font-weight: bold;
}
/* Grouping Selector */
h1, h2, h3{
    color: chocolate;
}



























































